<!DOCTYPE html>
<html>
<head>
  <title>Ajax</title>

<script>
  function handle(request)
  {
      alert("hello");
  }
</script>
  <script type="text/javascript" src="https://getfirebug.com/firebug-lite-debug.js"></script>
  <script type="text/javascript" src="https://getfirebug.com/firebug-lite-debug.js"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%#= javascript_include_tag "prototype" %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>

</body>
</html>
